<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="SP_USER_ID_Live" value="sp.admin@apar.com"/>
        <add key="SP_Password_Live" value="fPFJYap4Y5IVzbXoKySgcnpY3Rn+R5/e"/>
        <add key="SP_Address_Live" value="https://aparindltd.sharepoint.com/TravelVoucher"/>
        <add key="TestingTravelHeaderList" value="Testing Travel Header List"/>
        <add key="EmailList" value="Reminder Mail Send"/>
        <add key="DaysDifference" value="2"/>
    </appSettings>
</configuration>